:root {
  --blue_regular: #598AE7;
  --blue_deep: #35548B;
  --font_white: #ffffff;
  --blue_light: #4668B2;

  --container-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  display:flex;
  justify-content:baseline;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  background-color: var(--blue_light);
  height:max-content;
  color: var(--font_white);
  align-items: center;
}

.heading {
  align-self: center;
  justify-self: center;
}

.card-label {
  display: flex;
  margin-top: 0;
  justify-content: center;
  
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: var(--blue_regular);
  color: var(--font_white);
  height: 100px;
}

.card-label p{
  padding: 0;
  margin: 100px;
  align-self: center;
}

.container {
  display:flex;
  height: var(--container-height);
  flex-direction: column;
}

.stats-by-country {
  background-color: var(--blue_deep);
  color: var(--font_white);
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
}

.stats-by-country p {
  margin: 0px;
}

.country-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.country-card {
  color: var(--font_white);
  height: 170px;
  width: 50%;
}

.country-card:nth-child(4n + 1) {
  background-color: var(--blue_regular);
}

.country-card:nth-child(4n + 2) {
  background-color: var(--blue_regular);
}

.country-card:nth-child(4n + 3){
  background-color: var(--blue_deep);
}

.country-card:nth-child(4n + 4){
  background-color: var(--blue_deep);
}

.country-card p {
  text-align: end;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.links {
  text-decoration: none;
  color: white;
}

.img-map {
  color:#35548B;
  opacity: 0.5;
  margin: 10px 10px 10px 5px;
  width: 67px;
}

.detail-list-item {
  display:flex;
  justify-content: space-between;
  height: 85px;
  color: var(--font_white);
}

.detail-list-item > p{
  margin-left: 15px;
  margin-right: 15px;
}

.detail-list-item:nth-child(odd) {
  background-color: var(--blue_light);
}

.detail-list-item:nth-child(even) {
  background-color: var(--blue_deep)
}

.detail-parent {
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: scroll;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.btn-back {
  height: 70%;
  width: 50px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: var(--font_white);
  margin-left: 10px;
  margin-right: 40px;
}